<% book %>
<ul class="list-group">
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Autor : ')%> </b><%= @book.author %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Publisher : ')%></b><%= @book.publisher %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b>ISBN : </b><%= @book.isbn %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Pages : ')%> </b><%= @book.pages %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Year : ')%></b><%= @book.year %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Description : ') %></b><%= @book.description %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Bookbinding : ')%></b><%= @book.bookbinding %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Language : ')%></b><%= @book.language %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Categoty : ')%></b><%= @book.category %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Type of sale : ')%></b><%= @book.typeOfSale %></span></p>
	</li>
	<li class="list-group-item">
		<p class="list-group-item-text"><span><b><%=_('Status : ')%></b><%= @book.status %></span></p>
	</li>
</ul>
