<div class="container container-fluid">
	<div class="row">
		<ul class="list-group">
			<li class="list-group-item">
				<h2><%= @book.title %></h2>
				<div class="row">

					<div class="col-md-4">
						<%= image_tag @book.cover.url(:medium) , :class => "cov" %>
					</div>
					<div class="col-md-8 sb">
						<h3><%=_('Book information :') %></h3>
						<%= render 'info', book: @book %>
						<%if @x.to_i == 1%>
							<h3><%=_('Giver information : ')%> </h3>	
						<%else%>
							<h3><%=_('Applicant information : ')%></h3>
						<%end%>
						<%= render 'user_info', u: @u %>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<%= link_to _('Back'), :back , :class => "btn btn-default btn-sm", :role => "button"%>
</div>